<hr>
<hr>
<article class="container-fluid">
  <hr>
  <h1 style="text-align: center"><i class="fas fa-paint-brush"></i> <b>Themes</b><small>...pick a theme that speaks to you</small></h1>
  <hr>
    <div class="row" style="text-align: center">
          <div >
          <button (click)='pulse()'><img src="assets/pulse.PNG"></button>
        </div>
          <div >
          <button  (click)='simplex()'><img src="assets/simplex.PNG"></button>
        </div>
          <div >
          <button   (click)='sketchy()'><img src="assets/sketchy.PNG"></button>
        </div>
          <div >
            <button  (click)='literia()'><img src="assets/literia.PNG"></button>
          </div>
    </div>
    <div class="row" style="text-align: center">
      <div >
      <button (click)='cosmo()'><img src="assets/cosmo.PNG"></button>
    </div>
    <div >
    <button (click)='cerulean()'><img src="assets/cerulean.PNG"></button>
    </div>
    <div >
    <button (click)='flatly()'><img src="assets/flatly.PNG"></button>
    </div>
    <div >
    <button (click)='journal()'><img src="assets/journal.PNG"></button>
    </div>
    </div>
      <div class="row" style="text-align: center">
        <div >
        <button (click)='sandstone()'><img src="assets/sandstone.PNG"></button>
        </div>
        <div >
        <button (click)='spacelab()'><img src="assets/spacelab.PNG"></button>
        </div>
        <div >
        <button (click)='united()'><img src="assets/united.PNG"></button>
        </div>
        <div >
        <button (click)='yeti()'><img src="assets/yeti.PNG"></button>
        </div>
      </div>
    <hr>
    <input type="submit" value="Back to Profile" class="mybtn btn-primary" (click)='back()'>
</article>
<hr>
