<hr>
<hr>
<article class="container-fluid">
  <hr>
  <h1 style="text-align: center"><i class="fas fa-paint-brush"></i> <b>Themes</b><small>...pick a theme that speaks to you</small></h1>
  <hr>
    <div class="row" style="text-align: center">
          <div >
          <button (click)='pulse()'><img src="assets/pulse.PNG"></button>
        </div>
          <div >
          <button  (click)='simplex()'><img src="assets/simplex.PNG"></button>
        </div>
          <div >
          <button   (click)='sketchy()'><img src="assets/sketchy.PNG"></button>
        </div>
          <div >
            <button  (click)='literia()'><img src="assets/literia.PNG"></button>
          </div>
    </div>
    <hr>
    <input type="submit" value="Back to Profile" class="mybtn btn-primary" (click)='back()'>
</article>
<hr>
