
<article class="container mt-5 mb-5">
<div class = "stepper">
<div class= "container-center">
  <div class="row centered-form">
    <div class="stepwizard">
      <div class="stepwizard-row">
        <div class="stepwizard-step">
          <label class="label btn-dark btn-circle " disabled="disabled">1</label>
          <p>Travellers</p>
        </div>
        <div class="stepwizard-step">
          <label class="label btn-dark btn-circle" disabled="disabled">2</label>
          <p>Seat-Selection</p>
        </div>
        <div class="stepwizard-step">
          <label class="label btn-primary btn-circle" disabled="disabled">3</label>
          <p>Extras</p>
        </div>
        <div class="stepwizard-step">
          <label class="label btn-dark btn-circle" disabled="disabled">4</label>
          <p>Review</p>
        </div>
        <div class="stepwizard-step">
          <label class="label btn-dark btn-circle" disabled="disabled">5</label>
          <p>Payment</p>
        </div>
      </div>
    </div>
</div>
</div>
</div>
  <hr>
  <h1 style="text-align: center"><i class="fas fa-cart-plus"></i> <b>Trip Extras</b><small>...customize your trip</small></h1>
  <hr>
    <div class="row" style="text-align: center">
        <div class="col-12">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
            <div class="kl-card-block kl-xl bg-light kl-shadow-b kl-overlay kl-slide-in kl-show">
          <img src="assets/bc.png">
        </div>
            <div class=" kl-card kl-xl kl-shine kl-show">
                <div class="kl-card-block kl-xl bg-light kl-shadow-b kl-overlay kl-slide-in kl-show">
                    <div class="kl-card-overlay kl-card-overlay-split-q kl-dark kl-inverse">
                        <div class="kl-card-overlay-item">
                        </div>
                        <div class="kl-card-overlay-item"></div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                            </div>
                        </div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                            </div>
                        </div>
                    </div>
                        <hr>
                        <p class="card-text"><b>Select Number Of Bags</b></p>
                        <input type="number" name="numTravelCover" [(ngModel)]="numTravelCover"  class="form-control" placeholder= 'Number Of Bags' style="text-align: center" min = "0" max ="9" (click)='addBagCover()'>
                        <hr>
                        <p class="card-text"><b> Bag cover per Traveller : </b>R {{travelCover}}</p>
                        <p class="card-text"><b> Total Bag cover : </b>R {{totalTravelCover}}</p>

                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
          <div class="kl-card-block kl-xl bg-light kl-shadow-b kl-overlay kl-slide-in kl-show">
          <img src="assets/eb.png">
        </div>
          <div class=" kl-card kl-xl kl-shine kl-show">
              <div class="kl-card-block kl-xl bg-light kl-shadow-b kl-overlay kl-slide-in kl-show">
                  <div class="kl-card-overlay kl-card-overlay-split-q kl-dark kl-inverse">
                      <div class="kl-card-overlay-item">
                      </div>
                      <div class="kl-card-overlay-item"></div>
                      <div class="kl-card-overlay-item">
                          <div class="kl-figure-block">
                          </div>
                      </div>
                      <div class="kl-card-overlay-item">
                          <div class="kl-figure-block">
                          </div>
                      </div>
                  </div>
                  <div class="card-block">
                    <hr>
                    <p class="card-text"><b>Select Number Of Bags</b></p>
                    <input type="number" name="numExtraBag" [(ngModel)]="numExtraBag"  class="form-control" placeholder= 'Number Of Bags' style="text-align: center" min = "0" max ="9" (click)='addExtraBags()'>
                    <hr>
                      <p class="card-text"><b>Extra Bag Price per Traveller : </b>R {{extraBagPrice}}</p>
                      <p class="card-text"><b> Total Extra Bag/s : </b>R {{totalExtraBags}}</p>

                  </div>
              </div>
          </div>
             <hr>
             <h3 style="text-align: center"><b>On We Go</b><small>...</small><i class="fas fa-walking"></i></h3>
          <button class = "btn-success" (click)='submitExtras()' style='width:75%'> Proceed To Itinerary Review </button>
        </div><!-- column end -->
        <div class="col-1"></div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
          <div class="kl-card-block kl-xl bg-light kl-shadow-b kl-overlay kl-slide-in kl-show">
          <img src="assets/sl.png">
        </div>
          <div class=" kl-card kl-xl kl-shine kl-show">
              <div class="kl-card-block kl-xl bg-light kl-shadow-b kl-overlay kl-slide-in kl-show">
                  <div class="kl-card-overlay kl-card-overlay-split-q kl-dark kl-inverse">
                      <div class="kl-card-overlay-item">
                      </div>
                      <div class="kl-card-overlay-item"></div>
                      <div class="kl-card-overlay-item">
                          <div class="kl-figure-block">
                          </div>
                      </div>
                      <div class="kl-card-overlay-item">
                          <div class="kl-figure-block">
                          </div>
                      </div>
                  </div>
                  <div class="card-block">
                      <hr>
                      <p class="card-text"><b>Select Number Of Travellers</b></p>
                      <input type="number" name="numSlowXsLounge" [(ngModel)]="numSlowXsLounge"  class="form-control" placeholder= 'Number Of Travellers' style="text-align: center" min = "0" max ="9" (click)='addSlowXSlounge()'>
                      <hr>
                      <p class="card-text"><b>SlowXS Loung : </b>R {{slowXSLoungePrice}}</p>
                      <p class="card-text"><b> Total SlowXS : </b>R {{totalSlowXsLounge}}</p>
                    
                  </div>
              </div>
          </div>
        </div><!-- column end -->
        <div class="col-1"></div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
        </div><!-- column end -->
        <div class="col-1"></div>
    </div>
</article>
<hr>
